@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --neon: #16FF6E;
  --neon-soft: #a3ffbf;
}

body {
  @apply min-h-screen text-white;
  background: radial-gradient(circle at top, #003000, #000000 75%);
  color: var(--neon-soft);
}
