@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --neon: #16FF6E;
  --neon-soft: #a3ffbf;
}

body {
  @apply min-h-screen text-white;
  background: radial-gradient(circle at top, #003000, #000000 75%);
  color: var(--neon-soft);
}
.neon-input {
  @apply p-3 rounded-lg w-full
         bg-black/40 text-[#16FF6E]
         placeholder-gray-400
         border border-[#16FF6E]/50
         focus:border-[#16FF6E]
         focus:ring-2 focus:ring-[#16FF6E]
         shadow-[0_0_10px_rgba(22,255,110,0.4)]
         focus:shadow-[0_0_15px_rgba(22,255,110,0.8)]
         outline-none transition;
}
